@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

:root {
    --primary-color: #212A3E;
    --secondary-color: #394867;
    --tertiary-color: #9BA4B5;
    --color-light: #F1F6F9;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    /* padding: 20px; */
}

header {
    padding: 1rem;
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 80px;
    align-items: center;
    background-color: var(--secondary-color);
}

h1 {
    font-family: 'Slackey', cursive;
    color: var(--color-light);
    position: absolute;
    left: 1rem;
    top: 0;
}

.search {
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid var(--primary-color);
    font-family: inherit;
    font-size: 1rem;
    padding: .5rem 1rem;
    color: var(--color-light);
}

.search::placeholder {
    color: var(--tertiary-color);
}

.search:focus {
    outline: none;
    background-color: var(--primary-color);
}

main {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    background-color: var(--secondary-color);
    width: 300px;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

.movie img {
    width: 100%;
    border-radius: inherit 0;
}

.movie-detail {
    display: flex;
    color: var(--color-light);
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0.5rem;
    letter-spacing: 1px;
}

.movie-detail h3 {
    margin-top: 2;
}

.movie-detail span {
    background-color: var(--primary-color);
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.movie-detail span.green {
    color: lawngreen;
}

.movie-detail span.orange {
    color: orange;
}

.movie-detail span.red {
    color: red;
}

.overview {
    background-color: var(--color-light);
    color: var(--primary-color);
    padding: 1rem 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    border-radius: inherit;
    transform: translateY(105%);
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2);
    /* visibility: hidden; */
}

.overview h3 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);
    /* visibility: visible; */
}